body{
    background-image: url(img/158551-583126883.jpg);
background-size: cover;

}

h1{color: rgb(255, 255, 255);
font-size: 50px;
}
h2{
    font-size: 50px;
    color: rgba(255, 255, 255);}












































