h1
{font-size:50px ;}
.i
{
margin-top: 20vh;
color: goldenrod;
font-size: 50px;
}
body
{
background-image: url(img/DJI_0999-2560x1440.jpg);
background-size: cover;









}
h2{font-size: 50px;}

.r
{

font-size: 50px ;
margin-top: 20vh;
color: goldenrod;


}













