body{
    background-image: url(img/Writing-in-Ancient-Egypt-1.jpg.webp);
background-size: cover;

}

h1{color: goldenrod;
font-size: 50px;
}
h2{
    font-size: 50px;
    color: goldenrod;}








