body
{
background-image: url(img/2&png);
background-size:cover;


}

h1
{
color: goldenrod;
font-size: 100px;
text-align: center;
margin-top: 55vh;

}
h2
{
color: goldenrod;
font-size: 80px;
text-align: center;
margin-top:25vh ;











}
p
{
color: goldenrod;
font-size: 90px;
margin-top: 35vh;
text-align: center;










}


































