.container
{
display: flex;
height: 100vh;


}


.side1
{
flex: 1;
background-image: url(img/Your\ Design\ Playground_\ Experiment\ &\ Create\ a\ Logo\ You\ Truly\ Love_.jfif);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
}

.side2
{
flex: 1;
background-image: url(img/Your\ Design\ Playground_\ Experiment\ &\ Create\ a\ Logo\ You\ Truly\ Love_.jfif);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;

}
.side3
{
flex: 1;
background-image: url(img/Your\ Design\ Playground_\ Experiment\ &\ Create\ a\ Logo\ You\ Truly\ Love_.jfif);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
}

.side4
{
flex: 1;
background-image: url(img/Your\ Design\ Playground_\ Experiment\ &\ Create\ a\ Logo\ You\ Truly\ Love_.jfif);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;

}
ul
{
color: gold;
font-size:30;
}
h2
{
font-size:50px;
color: gold;
margin-top: -29.7vh;
}

li{font-size: 65px;}




























































